/node_modules
/public/hot
/public/media
/public/articles
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/php.xml
.idea/p-lican-api.iml
.idea/dataSources.xml
composer.lock
.DS_Store
Archiv.zip